/* styles.css */

/* Aligner le texte au centre dans toutes les cellules du tableau */
table {
    text-align: center;
}

/* Centrer le contenu du tableau sur la page */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.ligne-coloree1 {
    background-color: #ffefef; /* ou toute autre couleur de votre choix */
}
.ligne-coloree2 {
    background-color: #38c7ff; /* ou toute autre couleur de votre choix */
}